<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96551039859-630fg65mo3a3ku7aqra696jm44fsi6lp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96551039859-630fg65mo3a3ku7aqra696jm44fsi6lp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>96551039859-a8so2vgllt3rln3aavnjd7cgd42si1dh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCDI4yDf6moPRlTGEdNM6Z4VhTv6A3SklY</string>
	<key>GCM_SENDER_ID</key>
	<string>96551039859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appic.burgan</string>
	<key>PROJECT_ID</key>
	<string>burgan-360a</string>
	<key>STORAGE_BUCKET</key>
	<string>burgan-360a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96551039859:ios:0287420e95bc559b520b06</string>
	<key>DATABASE_URL</key>
	<string>https://burgan-360a.firebaseio.com</string>
</dict>
</plist>